.maxWidthWrapper {
  position: relative;
  max-width: 1024px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile Styles */
@media (max-width:992px){
  .maxWidthWrapper {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
  }
}